header {
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-color: white;
    background-position: 20px 5px;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #cccccc;
}